<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ASTEC Space Club!</title>
    <style>
        /* Reset CSS */
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f6f6f6;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .logo {
            text-align: center;
            margin-bottom: 20px;
        }

        .logo img {
            max-width: 200px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #333;
            text-align: center;
        }

        p {
            margin-bottom: 20px;
            color: #666;
        }

        .button {
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            text-align: center;
        }

        .button:hover {
            background-color: #0056b3;
        }

        .guide-link {
            display: block;
            text-align: center;
            margin-top: 20px;
            color: #007bff;
            text-decoration: none;
        }

        .guide-link:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://space-club.onrender.com/img/nav_icon.jpg" alt="ASTEC Space Club Logo">
        </div>
        <h1>Welcome to ASTEC Space Club!</h1>
        <p>Hello {{Name}},</p>
        <p>Thank you for joining ASTEC Space Club! We're thrilled to have you on board.</p>
        <p>This is an exciting journey into the world of space exploration, and we're here to explore together!</p>
        <p>Feel free to download our club guide to get started:</p>
        <a href="https://space-club.onrender.com/pdf/astec.pdf" class="guide-link">Download Club Guide PDF</a>
        <p>If you have any questions or need assistance, don't hesitate to contact us.</p>
        <p>Best regards,<br>Your ASTEC Space Club Team</p>
        <center><a href="https://astec-f441c.web.app" class="button">Explore More</a></center>
    </div>
</body>
</html>
